<ul class="navigation">
  <li id="aboutMe">
    <a routerLink="/about" routerLinkActive="active">
      <h2>About Me</h2>
    </a>
  </li>
  <li>
    <a routerLink="/" routerLinkActive="active">
      <h1 class="name">
        <span class="word">Coltin</span>
        <span class="word">Kifer</span>
      </h1>
    </a>
  </li>
  <li id="projects">
    <a routerLink="/projects" routerLinkActive="active">
      <h2>Projects</h2>
    </a>
  </li>
</ul>
<br>
<ul class="skills">
  <li *ngFor="let item of skillsList">{{ item }}</li>
</ul>

