@import "../../styles"

.name
  text-align: center

.skills
  text-align: center
  margin: 0
  padding: 0

.skills li
  padding: .2em 1em
  display: inline
  @media screen and (max-width: 750px)
    display: inline-block
    width: 50%
  @media screen and (max-width: 405px)
    display: block
    width: 100%

