
 <div class="content">


    <p class="img-p"><img class="me-img" src="https://drive.google.com/uc?id=1OncQYbhr6DAG2R44RThD7HoVGnPWodqz" height="250" width="250"></p>


<div class="auto-gen">
      <p>
        <strong>OBJECTIVE</strong>
      </p>
      <p class="indent">
        Learn through experience in the field of Computer Science/IT, to develop my
        skill set to its maximum potential.
      </p>
      <p>
        <strong>EDUCATION</strong>
      </p>
      <p class="indent">
        <strong>Seton Hill University</strong>
        , Greensburg, PA – Sophomore
      </p>
      <p class="indent">
        <em>Bachelor of Science in Computer Science </em>
        05/2020<em></em>
      </p>
      <p>
        <strong></strong>
      </p>
      <p>
        <strong>RELEVANT WORK EXPERIENCE</strong>
      </p>
  <div class="indent">
        <p>
          <strong>SHU IT/Jenzabar Student Internship &amp; Work Study</strong>
          , Greensburg, PA
        </p>
        <p class="indent-2">
          <em>Web Development/Student Information System Helper </em>
          Summer 2017 - Current<em> </em>
        </p>
        <p>
          · Plan, design, and implement new features on SHU’s intranet site
          (Symfony).
        </p>
        <p>
          · Learn new skills and read documentation on my own and with a small team.
        </p>
        <p>
          · Interact with the school’s ERP and Student Information System (Jenzabar).
        </p>
    <div class="indent-2">
        <p>
          <strong>SHU Solution Center</strong>
          , Greensburg, PA
        </p>
        <p>
          <em>Work Study </em>
          September 2016 – May 2017
        </p>
    </div>
        <p>
          · Answer phone calls
        </p>
        <p>
          · Respond to tickets and distribute them to technicians
        </p>
        <p>
          · Solve walk-in IT issues
        </p>
        <p>
          · Help solve IT issues around campus
        </p>
        <p>
          · Observe technicians solve tickets
        </p>
  </div>
      <p>
        <strong>PROGRAMMING/COURSEWORK </strong>
      </p>
  <div class="indent">
      <p>
        · AP Computer Science - Java<strong></strong>
      </p>
      <p>
        · University Courses - Programming 1 (C++), Application Dev (Swift), Data
        Structures, Computer Forensics, Unix &amp; Linux<strong></strong>
      </p>
      <p>
        · SHU/Jenzabar Student Internship – PHP, Symfony, Twig, MySQL    <strong></strong>
      </p>
      <p>
        · Personal Projects - <a href="https://github.com/ckifer">My GitHub</a>    <strong></strong>
      </p>
  </div>
      <p>
        <strong>SKILLS</strong>
      </p>
  <div class="indent">
      <p align="center">
        Mac, Windows, Java, C++, Swift, HTML5, Twig, SASS and CSS, PHP, Symfony,
        JavaScript, Angular 4, SQL, FireBase, Docker, Grunt.js, Git, Unix, Linux,
        and MacOS shells, Shell scripting, General hardware (PC building), IT, Word
        Processing
      </p>
  </div>
      <p>
        <strong>ACTIVITIES</strong>
      </p>
  <div class="indent">
      <p>
        · SHU Volleyball Club
      </p>
      <p>
        · United Youth Camps Counselor/Staff
      </p>
      <p>
        · Alpha Lamba Delta Honors Society
      </p>
      <p>
        · Working on small projects by myself
      </p>
  </div>
</div>
 </div>
