@import "../../styles.sass"

.wrapper
  text-align: center
.square
  display: inline-block
  text-align: center
  position: relative
  width: 10%
  padding-top: 10%
  padding-bottom : 10% /* = width for a 1:1 aspect ratio */
  margin: 1.66%
  background-position: center center
  background-repeat: no-repeat
  background-size: contain /* you change this to "contain" if you don't want the images to be cropped */
  font-size: 7em
  color: $text-color
  @media screen and (max-width: $large-break)
    display: block
    width: 100%

.wrapper a
  text-decoration: none









